<!DOCTYPE html>

	<head><!--the head is the non-printed part of the website which includes links to the styling an javascript pages-->
		<title>Nile Hotel</title>
		
		<link type="text/css" rel="stylesheet"  media="screen and (min-width:1025px)" href="static/css/computer.css"> 
		<!--link to css file for computer screen-->
		<link type="text/css" rel="stylesheet"  media="screen and (min-width:701px) and (max-width:1024px)" href="static/css/tablet.css">
		<!--link to css file for tablets-->
		<link type="text/css" rel="stylesheet"  media="screen and (min-width:0px) and (max-width:700px)" href="static/css/mobile.css">
		<!--link to css file for mobile devices-->
	</head>
	
	<body><!--the body is the printed part of the website-->
		<header><!--this is the header at the top of the page including a logo an the page's title-->
			<img id="logo" src="static/images/logo.jpg" alt="">			
			<h1>Contact Us</h1>
		</header>	
		
		<nav><!--this is the navigation bar with hyperlinks to all pages-->
			<p id="nav"><!--this is the navigation bar with hyperlinks to all pages-->
			<a href="/">Homepage</a>
			<a href="/details">Hotel Details</a>
			<a href="/facilities">Facilities</a>
			<a href="/rooms">Our Rooms</a>
			<a href="/attractions">Local activities and attractions</a>
			<a href="/directions">Directions</a>
			<a href="/gallery">Gallery</a>
			<a href="/comments">Comments</a>
			</p>
		</nav>	
		
		<div id="main"><!--this is the div where the main content appears-->
			<p> Please contact us for everything you need or whant to ask. Our personell is happy to service you 24/7</p>
			<p> TEL: +20-2-2577-7444<br/>
				FAX: +20-2-2575-2942<br/>
				email: info@nilehotel.com</p>
			<img id="recep" src="static/images/reception.jpg" alt="">
		</div>	
	</body>
</html>