<!DOCTYPE html>

	<head><!--the head is the non-printed part of the website which includes links to the styling an javascript pages-->
		<title>Nile Hotel</title>
		
		<link type="text/css" rel="stylesheet"  media="screen and (min-width:1025px)" href="static/css/computer.css"> 
		<!--link to css file for computer screen-->
		<link type="text/css" rel="stylesheet"  media="screen and (min-width:701px) and (max-width:1024px)" href="static/css/tablet.css">
		<!--link to css file for tablets-->
		<link type="text/css" rel="stylesheet"  media="screen and (min-width:0px) and (max-width:700px)" href="static/css/mobile.css">
		<!--link to css file for mobile devices-->
	</head>
	
	<body><!--the body is the printed part of the website-->
		<header><!--this is the header at the top of the page including a logo an the page's title-->
			<img id="logo" src="static/images/logo.jpg" alt="">
			<h1>Our Facilities</h1>
		</header>
				
		<nav><!--this is the navigation bar with hyperlinks to all pages-->
			<p id="nav">
			<a href="/">Homepage</a>
			<a href="/details">Hotel Details</a>
			<a href="/rooms">Our Rooms</a>
			<a href="/attractions">Local activities and attractions</a>
			<a href="/directions">Directions</a>
			<a href="/gallery">Gallery</a>
			<a href="/booking">Book a room</a>
			<a href="/comments">Comments</a>
			<a href="/contact">Contact Details</a>
			</p>
		</nav>	
		
		<div id="main"><!--this is the div where the main content appears-->
			
			<div id=a>
				<h3> Our Restaurant </h3><br/>
					<p>With excessive artwork and atmospheric lighting,our Restaurant creates a pleasant experience.<br/>
					We serve a wide range of cuisine choices that will please your taste preferences. <br/>
					Open daily for breakfast (7:30am to 9:30am), lunch (1pm to 4 pm) and dinner (7pm to 11 pm).</p><br/> 
				<img id=rest src="static/images/restaurant.jpg" alt = "our restaurant">  
			</div>
			
			
			<div id=b>
				<h3> Our Pub </h3><br/>
					<p>Could you imagine anthing more relaxing from having your freezing cold pint and<br/>
					watching your favourite football team? Or maybe do you just need to have a drink <br/>
					and relax after a long day?	Then our pub is the place you need while staying<br/>
					in our hotel!Being open from 11am until 4am and having a variety of beers and <br/>
					delicious coctails, is the place for every moment of the day! </p><br/>
				<img id=pub src="static/images/pub.jpg" alt = "our restaurant"> 	 
			</div>
			
			
			<div id=c>
				<h3> Our Cafe </h3><br/>
					<p>Looking for a palce to relax and have your coffee? Visit our cafe and get the oportunity to<br/>  
					Try a traditional shisha Egyptian water pipe and coffees from all the parts of the world.<br/>
					Open daily from 7am until 11pm.</p><br/>  
					<img id=cafe src="static/images/cafe.jpg" alt = "our cafe">  
			</div>
			
			
			<div id=d>
				<h3> Our Fitness Center </h3><br/>
					<p>Maintain your fitness while in Egypt at our fully equiped Fitness Center.<br/> 
					Take advantage of a relaxing swim in our indoor swimming pool and exercise<br/>
					whenever you feel to, as our fitness center is open 24/7</p><br/> 
					<img id=gym src="static/images/gym.jpg" alt = "our fitness center">  
			</div>
			
			
			<div id=e>
				<h3> Our Pool </h3><br/>
					<p>Enjoy the sun of Egypt and relax in our outdoor swimming pool<br/>
					without worying about your safety as we have a fully trained<br/> 
					lifeguard who is always there for you!<br/>	
					Enjoy your drink from the pool bar which is open from 7am until 7pm.</p><br/>   
					<img id=pool src="static/images/pool.jpg" alt = "our pool">  
			</div>
			
			
			<div id=f>
				<h3> Our Confernce Room </h3><br/>
					<p>If you are coming for business purposes and you need a place to demonstrate<br/>  
					your work or to talk with your partners, we have a confernce room you can use.<br/> 
					just email us before you arrive so we can arrange you a time for the room </p><br/>
					<img id=confroom src="static/images/confroom.jpg" alt = "conference room"> 
			</div>			
		</div>		
	</body>
</html>