<!DOCTYPE html>
	<head><!--the head is the non-printed part of the website which includes links to the styling an javascript pages-->
		<title>Nile Hotel</title>
		
		<link type="text/css" rel="stylesheet"  media="screen and (min-width:1025px)" href="static/css/computer.css"> 
		<!--link to css file for computer screen-->
		<link type="text/css" rel="stylesheet"  media="screen and (min-width:701px) and (max-width:1024px)" href="static/css/tablet.css">
		<!--link to css file for tablets-->
		<link type="text/css" rel="stylesheet"  media="screen and (min-width:0px) and (max-width:700px)" href="static/css/mobile.css">
		<!--link to css file for mobile devices-->
		
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<script type="text/javascript" src="static/homepage.js"></script>
	</head>
	
	<body><!--the body is the printed part of the website-->
		<header><!--this is the header at the top of the page including a logo an the page's title-->
			<img id="logo" src="static/images/logo.jpg" alt="">			
			<h1>Welcome to Nile Hotel</h1>
		</header>	
		
		<nav><!--this is the navigation bar with hyperlinks to all pages-->
			<p id="nav">
			<a href="/">Homepage</a>
			<a href="/details">Hotel Details</a>
			<a href="/facilities">Facilities</a>
			<a href="/rooms">Our Rooms</a>
			<a href="/attractions">Local activities and attractions</a>
			<a href="/directions">Directions</a>
			<a href="/booking">Book a room</a>
			<a href="/comments">Comments</a>
			<a href="/contact">Contact Details</a>
			</p>
		</nav>			
		
		<div class="gallery"><!--this is the div where the main content appears-->
			<div class="thumbnails"> <!--the thumbnails-->
				<a href="static/images/cafe.jpg" rel="lightbox" ><img src="static/images/cafe.jpg" alt="" /></a>
				<a href="static/images/pool.jpg" rel="lightbox" ><img src="static/images/pool.jpg" alt=""/></a>
				<a href="static/images/restaurant.jpg" rel="lightbox" ><img src="static/images/restaurant.jpg" alt="" /></a>
				<a href="static/images/confroom.jpg" rel="lightbox" ><img src="static/images/confroom.jpg" alt="" /></a>
				<a href="static/images/roombath2.jpg" rel="lightbox" ><img src="static/images/roombath2.jpg" alt="" /></a>
				<a href="static/images/azhar_mosque.jpg" rel="lightbox" ><img src="static/images/azhar_mosque.jpg" alt="" /></a>
				<a href="static/images/church.jpg" rel="lightbox" ><img src="static/images/church.jpg" alt="" /></a>
				<a href="static/images/citadel.jpg" rel="lightbox" ><img src="static/images/citadel.jpg" alt="" /></a>
				<a href="static/images/culturewheel.jpg" rel="lightbox" ><img src="static/images/culturewheel.jpg" alt="" /></a>
				<a href="static/images/doubleroom.jpg" rel="lightbox" ><img src="static/images/doubleroom.jpg" alt="" /></a>
				<a href="static/images/doubleroombath.jpg" rel="lightbox" ><img src="static/images/doubleroombath.jpg" alt="" /></a>
				<a href="static/images/eg_museum.jpg" rel="lightbox" ><img src="static/images/eg_museum.jpg" alt="" /></a>
				<a href="static/images/fustat.jpg" rel="lightbox" ><img src="static/images/fustat.jpg" alt="" /></a>
				<a href="static/images/gym.jpg" rel="lightbox" ><img src="static/images/gym.jpg" alt="" /></a>
				<a href="static/images/horreya.jpg" rel="lightbox" ><img src="static/images/horreya.jpg" alt="" /></a>
				<a href="static/images/jazzclub.jpg" rel="lightbox" ><img src="static/images/jazzclub.jpg" alt="" /></a>
				<a href="static/images/khan.jpg" rel="lightbox" ><img src="static/images/khan.jpg" alt="" /></a>
				<a href="static/images/kingroom.jpg" rel="lightbox" ><img src="static/images/kingroom.jpg" alt="" /></a>					
				<a href="static/images/nile_hotel.jpg" rel="lightbox" ><img src="static/images/nile_hotel.jpg" alt="" /></a>
				<a href="static/images/opera.jpg" rel="lightbox" ><img src="static/images/opera.jpg" alt="" /></a>
				<a href="static/images/park.jpg" rel="lightbox" ><img src="static/images/park.jpg" alt="" /></a>
				<a href="static/images/pub28.jpg" rel="lightbox" ><img src="static/images/pub28.jpg" alt="" /></a>
				<a href="static/images/pyramids.jpg" rel="lightbox" ><img src="static/images/pyramids.jpg" alt="" /></a>
				<a href="static/images/roombath1.jpg" rel="lightbox" ><img src="static/images/roombath1.jpg" alt="" /></a>
				<a href="static/images/suite.jpg" rel="lightbox" ><img src="static/images/suite.jpg" alt="" /></a>
				<a href="static/images/suitebath2.jpg" rel="lightbox" ><img src="static/images/suitebath2.jpg" alt="" /></a>
				<a href="static/images/suitebath1.gif" rel="lightbox" ><img src="static/images/suitebath1.gif" alt="" /></a>
				<a href="static/images/suitebathroom.jpg" rel="lightbox" ><img src="static/images/suitebathroom.jpg" alt="" /></a>
				<a href="static/images/suitebathroom2.jpg" rel="lightbox" ><img src="static/images/suitebathroom2.jpg" alt="" /></a>
				<a href="static/images/tower.jpg" rel="lightbox" ><img src="static/images/tower.jpg" alt="" /></a>
			</div>
		</div>
	</body>
</html>