<!DOCTYPE html>

	<head><!--the head is the non-printed part of the website which includes links to the styling an javascript pages-->
		<title>Nile Hotel</title>
		
		<link type="text/css" rel="stylesheet"  media="screen and (min-width:1025px)" href="static/css/computer.css"> 
		<!--link to css file for computer screen-->
		<link type="text/css" rel="stylesheet"  media="screen and (min-width:701px) and (max-width:1024px)" href="static/css/tablet.css">
		<!--link to css file for tablets-->
		<link type="text/css" rel="stylesheet"  media="screen and (min-width:0px) and (max-width:700px)" href="static/css/mobile.css">
		<!--link to css file for mobile devices-->		
	</head>
	
	<body><!--the body is the printed part of the website-->
		<header><!--this is the header at the top of the page including a logo an the page's title-->			
			<img id="logo" src="static/images/logo.jpg" alt="">
			<h1>Welcome to Nile Hotel</h1>
		</header>
		
		<nav><!--this is the navigation bar with hyperlinks to all pages-->
			<p id="nav">
			<a href="/details">Hotel Details</a>
			<a href="/facilities">Facilities</a>
			<a href="/rooms">Our Rooms</a>
			<a href="/attractions">Local activities and attractions</a>
			<a href="/directions">Directions</a>
			<a href="/gallery">Gallery</a>
			<a href="/booking">Book a room</a>
			<a href="/comments">Comments</a>
			<a href="/contact">Contact Details</a>
			</p>
		</nav>	
		
		
		<div id="imghp"><!--this is the div where the homepage's image appears-->
			<img id="hpimg" src="static/images/nile_hotel.jpg" alt="Nile Hotel">
		</div>
		
		<div><!--this is the div where the main content appears-->
			<p id="hp">Welcome to Nile Hotel. Our beautiful hotel in Cairo where our purpose is to provide an unforgetable experience for your holidays!<br/>
			   Please navigate yourself in our website and don't hesitate to contact us for everything you need!</p>
		</div>	
		
	</body>
</html>