<!DOCTYPE html>	

	<head><!--the head is the non-printed part of the website which includes links to the styling an javascript pages-->
		<title>Nile Hotel</title>
		
		<link type="text/css" rel="stylesheet"  media="screen and (min-width:1025px)" href="static/css/computer.css">
		<!--link to css file for computer screen-->
		<link type="text/css" rel="stylesheet"  media="screen and (min-width:701px) and (max-width:1024px)" href="static/css/tablet.css">	
		<!--link to css file for tablets-->	
		<link type="text/css" rel="stylesheet"  media="screen and (min-width:0px) and (max-width:700px)" href="static/css/mobile.css">
		<!--link to css file for mobile devices-->
	</head>
	
	<body><!--the body is the printed part of the website-->
		<header><!--this is the header at the top of the page including a logo an the page's title-->
			<img id="logo" src="static/images/logo.jpg" alt="">			
			<h1>Our Hotel</h1>	
		</header>

	<nav><!--this is the navigation bar with hyperlinks to all pages-->
		<p id="nav">
		<a href="/">Homepage</a>
		<a href="/facilities">Facilities</a>
		<a href="/rooms">Our Rooms</a>
		<a href="/attractions">Local activities and attractions</a>
		<a href="/directions">Directions</a>
		<a href="/gallery">Gallery</a>
		<a href="/booking">Book a room</a>
		<a href="/comments">Comments</a>
		<a href="/contact">Contact Details</a>
		</p>	
	</nav>	

	<div id="main"><!--this is the div where the main content appears-->
		<h1>Hotel Overview</h1>
		<img id="hotdet" src="static/images/nile_hotel.jpg" alt="Nile Hotel">
		
		<p>
			Enjoy citycenter of cairo from the Nile Hotel. The Nile Hotel lies a couple of 
			hundred meters from the nile rever bank easy to find even for non familiarity of 
			the area <a href="/directions">See Directions</a> <br/><!--link to the directions page-->
			happily offering a relaxing experience in the center of Egypt's capital.
			Nile Hotel offer a wide range of services , activities , and experiences 
			with a warming hospitality the hotel staff always looking for the best service 
			they can give to all guests.
			while staying in Nile Hotel you can enjoy some free facilities like :
		</p>
		<ul>
			<li>wifi. </li>
			<li>A pick-up from Cairo's Airport. </li>
			<li>Directions and call center in lobby.</li>
			<li>24 hours room service. </li>
			<li>free news papers available from reception. </li>
			<li>Swimming Pool and sport center.</li>
			<li>A special welcome tour around the city center. </li>
		</ul>	
		
		<p>
			The Nile Hotel offers wide range of options when it comes to rooms
			as it have 200 air conditioned rooms , 50 suites , 5 diffrent size conference rooms
			and 3 big special halls for weddings and celebrations .
			<a href="/rooms">Read more</a> <br/><!--link to the rooms page-->
		</p>
		
		<p>
			sports and health care is one of the Nile Hotel staff big concerns , hence we 
			offers guests 2 big swimming pools one of them is indoor and heated and we also
			offer a fully equipped Fitness Center
			<a href="/facilities">Read more</a> <br/><!--link to the facilities page-->
		</p>
		
		<p>
			The Nile Hotel lies in special place allowing you to experience lots of nearby
			attractions which you can even see from the room balcony like Cairo Tower or The 
			great Pyramids Of Giza !
			other interesting places you can visit within a walking distance like Cairo Museum,
			national Azhar Park , Khan El Khalili market and many other great places you can 
			visit in the center of Cairo .
			<a href="/attractions">Read more</a> <br/><!--link to the activities and attractions page-->
		</p>
			
	</div>	
</body>	
</html>
 		
		
		
	
		