<!DOCTYPE html>
<html>
	<head><!--the head is the non-printed part of the website which includes links to the styling an javascript pages-->
		<title>Nile Hotel</title>
		
		<link type="text/css" rel="stylesheet"  media="screen and (min-width:1025px)" href="static/css/computer.css"> 
		<!--link to css file for computer screen-->
		<link type="text/css" rel="stylesheet"  media="screen and (min-width:701px) and (max-width:1024px)" href="static/css/tablet.css">
		<!--link to css file for tablets-->
		<link type="text/css" rel="stylesheet"  media="screen and (min-width:0px) and (max-width:700px)" href="static/css/mobile.css">
		<!--link to css file for mobile devices-->
	</head>
	

	<body><!--the body is the printed part of the website-->
		<header><!--this is the header at the top of the page including a logo an the page's title-->
			<img id="logo" src="static/images/logo.jpg" alt="">			
			<h1>Local Activities & Attractions</h1>
		</header>
				
		<nav><!--this is the navigation bar with hyperlinks to all pages-->
			<p id="nav">
			<a href="/">Homepage</a>
			<a href="/details">Hotel Details</a>
			<a href="/facilities">Facilities</a>
			<a href="/rooms">Our Rooms</a>
			<a href="/directions">Directions</a>
			<a href="/gallery">Gallery</a>
			<a href="/booking">Book a room</a>
			<a href="/comments">Comments</a>
			<a href="/contact">Contact Details</a>
			</p>	
		</nav>
		
		<div id="main"><!--this is the div where the main content appears-->				

			<h2>Sights</h2>
			
			<h3>Egyptian Museum</h3>

				<img id= EG_M src="static/images/eg_museum.jpg" alt="Egyptian_musuem">
				<p>	
					The Egyptian Museum in Cairo contains the world's most extensive collection of
					pharaonic antiquities; no visit to Egypt is complete without a trip through
					its galleries. The original collection was established in the late 19th
					century under Auguste Mariette and housed in Boulaq. The objects were moved
					in 1891 to the palace of Ismail Pasha in Giza before being transferred in 
					1902 to the current building at Tahrir Square, which is the first 
					purpose-built museum edifice in the world.
				</p>
				<p>
					Designed in the Neoclassical style by Marcel Dourgnon, the Egyptian Museum
					boasts 107 halls filled with artifacts dating from the prehistoric through 
					the Roman periods, with the majority of the collection focused on the 
					pharaonic era. The museum houses approximately 160,000 objects covering 
					5,000 years of Egypt's past.
				</p>
				<p>
					The ground floor takes the visitor on a chronological tour through the 
					collections, while the objects on the upper floor are grouped according to 
					tomb or category; exhibits here include the treasures of Tutankhamun, wooden 
					models of daily life, statuettes of divinities, and a rare group of Faiyum 
					Portraits. On display on the second floor are also many of the New Kingdom 
					royal mummies.
				</p>
			
				<h3>Cairo Tower</h3>
				<img id= tower src="static/images/tower.jpg" alt="Cairo Tower">
				<p>	
					Its nice to be up high in Cairo. It gives one a prospective view of this 
					great city, with it's very modern and very ancient districts. Anyone who has 
					stood atop the Citadel or from the upper floors of some of the taller hotels 
					is aware of the grand views that Cairo offers.
				</p>


			
				<h3>Pyramids Of Giza</h3>
				<img id=pyr src="static/images/Pyramids.jpg" alt="pyramids">
				<p>
					The ancient Egyptians built pyramids as tombs for the pharaohs and their 
					queens. The pharaohs were buried in pyramids of many different shapes and 
					sizes from before the beginning of the Old Kingdom to the end of the Middle 
					Kingdom.
				</p>
				<p>
					There are about eighty pyramids known today from ancient Egypt. The three l
					argest and best-preserved of these were built at Giza at the beginning of 
					the Old Kingdom. The most well-known of these pyramids was built for the 
					pharaoh Khufu. It is known as the 'Great Pyramid'.
				</p>
  			
				<h3>Al-Azhar Mosque</h3>
				<img id=mosque src="static/images/azhar_mosque.jpg" alt="azhar_mosque">
				<p>
					Founded in AD 970 as the centrepiece of the newly created Fatimid city, 
					Al-Azhar is one of Cairo’s earlier mosques, and its sheikh is considered the 
					highest theological authority for Egyptian Muslims. The building is a 
					harmonious blend of architectural styles, the result of numerous enlargements
					over a thousand years. The tomb chamber, located through a doorway on the left
					just inside the entrance, has a beautiful mihrab (a niche indicating the 
					direction of Mecca) and should not be missed.
				</p>
  			
				<h3>Citadel</h3>
				<img id=citadel src="static/images/citadel.jpg" alt="citadel">
				<p>
				Sprawling over a limestone spur on the eastern edge of the city, the Citadel,
				started by Saladin in 1176 as a fortification against the Crusaders, was home
				to Egypt’s rulers for 700 years. Their legacy is a collection of three very 
				different mosques, several palaces (housing some underwhelming museums) and 
				a couple of terraces with superb views over the city. This is one of the 
				most popular tourist attractions in Cairo, although it's a hassle getting 
				there.
				</p>
  			 
				<h3>Al-Azhar Park</h3> 
				<img id=park src="static/images/park.jpg" alt="park">
				<p>
					With funds from the Aga Khan Trust for Culture, what had been a mountain of 
					garbage, amassed over centuries, was in 2005, almost miraculously, transformed
					into the city’s first (and only) park of significant size. Cairenes stroll 
					through a profusion of gardens, emerald grass and fountains, or sit beside 
					the lake or on the terraces of one of the restaurants, admiring the superb 
					views over Cairo. It’s most fun on weekends, when families day-trip with picnics.
				</p>
			
				<h3>Hanging Church</h3>
				<img id=church src="static/images/church.jpg" alt="church">
				<p>
					Just south of the Coptic Museum on Sharia Mar Girgis (the main road 
					parallel with the metro), a stone facade inscribed with Coptic and Arabic 
					marks the entrance to the 9th-century (some say 7th) Hanging Church, so named 
					because it is suspended over the Water Gate of Roman Babylon. With its three 
					barrel-vaulted, wood-roofed aisles, the interior of the church feels like an 
					upturned ark, resting on 13 elegant pillars representing Christ and his apostles.
				</p>
				
			<hr>
			
			<h2>Cairo Nightlife</h2>
	
				<h3>Bars in Cairo</h3>
			
					<h4>El Horreya</h4>
					<img id=horreya src="static/images/horreya.jpg" alt="horreya_bar">
					<p>
						This popular pub is one of the best haunts in the city for sampling 
						Cairo’s baladi drinking culture. Evoking an old English tea rooms, with 
						high ceilings and peeling yellow paint, it’s packed every night with a an 
						eclectic crowd of young Egyptians and older intellectual-types knocking 
						back bottles of Egyptian Stella, first brewed here in 1897.
						Address: 2 El Mazloum Street, Cairo, Egypt
						Telephone: (02) 2392 0397.
					</p>
					
					<h4>Pub 28</h4>
					<img id=pub28 src="static/images/pub28.jpg" alt="pub_28">
					<p>
						A down-to-earth bar also serving hearty food and meze, this smoky and 
						cosy place has a good mix of locals and foreigners of all ages sipping 
						whisky and cold beer.
						Address: 28 Sharia Shagaret el-Dor, Cairo, Egypt
						Telephone: (02) 3735 9200.	
					</p>
					
				<h4>Cairo Jazz Club</h4>
				<img id=jazzclub src="static/images/jazzclub.jpg" alt="jazz_club">
				<p>
					This popular club, packed at weekends, offers a sophisticated mix of 
					live jazz, blues, a DJ, drinks plus vegetarian food, in a dimly lit, 
					smoke-filled environment.
					Address: 197, 26th of July Street, Cairo, Egypt
					Telephone: (02) 3345 9939.
					Website:<a href="http://www.cairojazzclub.com">Cairo Jazz Club</a>
				</p>
			
				<h4>El Sawy Culturewheel</h4>
				<img id=culturewheel src="static/images/culturewheel.jpg" alt="culture_wheel">
				<p>
					Cultural centre with nightly live performances of classical Arabic, 
					contemporary Egyptian bands, festivals and dramas, housing five separate 
					stages. A real Cairo gem.
				</p>
				
				<h4>Cairo Opera House</h4>
  			 	<img id=opera src="static/images/opera.jpg" alt="opera">
  			 	<p>
					The city's main venue for drama, dance, film and music is located in 
					the National Cultural Centre on Gezira Island. Boasting some of the best 
					acoustics and facilities in the Middle East, it has a year-round programme 
					of opera, classical concerts, ballet and dance from national troupes. 
					Aida, Verdi’s classic opera, was specially written for this venue. For 
					concerts in the main hall, men must wear a jacket and tie.
  			 	</p>
				
  			 	<hr>
   
		<h2>Shopping</h2>
   		
			<h3>Khan el-Khalili</h3>
   			<img id=khan src="static/images/khan.jpg" alt="khan">
   			<p>
				Cairenes have plied their trades here since the khan was built in the 14th 
				century, and parts of the market, such as the gold district, are still the 
				first choice for thousands of locals. Open from early morning to sundown 
				(except Friday morning and Sunday), although many shops are open as long as 
				there are customers, even on Sunday.
   			</p>
   			
			<h3>Souq al-Fustat</h3>
   			<img id=fustat src="static/images/fustat.jpg" alt="fustat_market">
   			<p>
				Brilliant shopping complex with various good craft shops, respectable 
				vendors of carpets, modern ceramics, spices, richly embroidered galabiyyas 
				(long Egyptian dress for men and women) and wooden toys along with a branch 
				of Abd El Zaher . Look out for Association for the Protection of the 
				Environment shop selling embroideries from Akhmim. Prices are marked 
				(though occasionally negotiable), and sales pressure is pleasantly low.
   			</p>
   			
   			
   		</div>
	</body>	 
</html			
   		





  			


  			