<!DOCTYPE html>
	
	<head><!--the head is the non-printed part of the website which includes links to the styling an javascript pages-->
		<title>Nile Hotel</title>
		
		<link type="text/css" rel="stylesheet"  media="screen and (min-width:1025px)" href="static/css/computer.css"> 		
		<!--link to css file for computer screen-->		
		<link type="text/css" rel="stylesheet"  media="screen and (min-width:701px) and (max-width:1024px)" href="static/css/tablet.css">
		<!--link to css file for tablets-->
		<link type="text/css" rel="stylesheet"  media="screen and (min-width:0px) and (max-width:700px)" href="static/css/mobile.css">
		<!--link to css file for mobile devices-->	
	</head>
	
	<body><!--the body is the printed part of the website-->
		<header><!--this is the header at the top of the page including a logo an the page's title-->
			<img id="logo" src="static/images/logo.jpg" alt="">			
			<h1>Guest Rooms</h1>			
		</header>		
		
		<nav><!--this is the navigation bar with hyperlinks to all pages-->
		<p id="nav">
			<a href="/">Homepage</a>
			<a href="/details">Hotel Details</a>
			<a href="/facilities">Facilities</a>
			<a href="/attractions">Local activities and attractions</a>
			<a href="/directions">Directions</a>
			<a href="/gallery">Gallery</a>
			<a href="/booking">Book a room</a>
			<a href="/comments">Comments</a>
			<a href="/contact">Contact Details</a>
		</p>		
		</nav>	
		
		<div id="main"><!--this is the div where the main content appears-->
			
			<p>The Nile Hotel offers 250 luxurious guest rooms and suites , featuring:</p>
			<ul>
				<li>Air condition</li>
				<li>LCD television</li>
				<li>mini-Bar</li>
				<li>WiFi</li>
				<li>Telephone</li>
				<li>Hair Dryer</li>
			</ul>
	
			
			<h2>Luxury Lutus Tower Rooms</h2>
			
			<p>
				In Lutus tower The Nile Hotel offers 100 Room , each one is beautifully modern 
				furnished with a King-Size bed and two comfortable chairs , LCD Tv and internal sound 
				system .
				with a huge window looking over cairo and the great Nile river.
			</p>
			
			<h3>Single King Room</h3>
				<img id= kng src="static/images/kingRoom.jpg" alt="King-room">
				<img id= rb1 src="static/images/roombath1.jpg" alt="bath">
				<img id= rb2 src="static/images/roombath2.jpg" alt="bath">
			
			<h3>Double Bed Room</h3>
				<img id= dbb src="static/images/doubleRoom.jpg" alt="doubleRoom">
				<img id= rb3 src="static/images/doubleroombath.jpg" alt="doubleRoombath">
	
	
			<h2>Luxury Queen Tower Suites</h2>
			<p>
				If you looking for a luxurious experience over the Nile river bank our 100 suites
				at the Queen Tower are the best when it comes to that , enjoy the wide space in your 
				own Suite looking on the cairo tower and the city center , in these suites we offer you 
				all services to make sure your stay is memorable  ! enjoy cooking in the suite kitchen 
				with a great view from the huge window looking over the Nile , these suites has LCD TV,
				king-size bed or single upon your choice , two comfortable arm chairs , living room with 
				DVD and Home theatre sound system , free internet wireless connection, bathroom with 
				a big jacuzzi , hair dryer and a small business corner .
			</p>
				
				<img id= suite src="static/images/suite.jpg" alt="suite">
				<img id= rb4 src="static/images/suitebathroom.jpg" alt="suitebath">
				<img id= rb5 src="static/images/suitebathroom2.jpg" alt="suitebath">
		
			
			<div id="table"><!--this is the div where the price table appears-->
				<h2>Below you can find our prices for our rooms:</h2>

			<table>
				<tr>
					<th>Room type</th>
					<th>Price(Per night)</th>
				</tr>
				<tr>
					<td>Single King Room</td>
					<td>&pound;25</td>
				</tr>
				<tr>
					<td>Double Bed Room</td>
					<td>&pound;40</td>
				</tr>
				<tr>
					<td>Luxury Queen Tower Suites</td>
					<td>&pound;60</td>
				</tr>
			</table>
			</div>
		</div>
	</body>
</html>	
	